{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock css %}

{% block content %}

    <div class="form-container">
        <div class="form">
            <p style="text-align: center; margin-top: 20px;"><a><b>С горем пополам все это сделал</b></a></p>
            <p style="text-align: center; margin-top: 20px;"><a href="https://github.com/Andrey-Kugubaev"><b>Андрей Грин</b></a></p>
        </div>
    </div>

{% endblock %}